body {
  background-image: url("./images/windows.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.taskbar {
  background: linear-gradient(grey, white);
  align-self: flex-end;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
}
.taskbar__start:hover {
  cursor: pointer;
}
.taskbar__clock {
  position: absolute;
  bottom: 0px;
  right: 15px;
  font-size: 12px;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
}

.icons {
  width: 100%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-start;
  align-content: flex-start;
}
.icons__figure {
  display: flex;
  flex-direction: column;
}
.icons__figure__icons {
  align-items: center;
  margin: 5px;
  margin-left: 20px;
  width: 50px;
}

.clickStart {
  font-family: verdana;
  position: absolute;
  bottom: 0px;
  left: -5px;
  width: 300px;
  background: linear-gradient(to bottom, blue 0%, skyBlue 100%);
  padding: 8px 0px 7px 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.clickStart__head {
  display: flex;
  gap: 100px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #eee;
}
.clickStart__starticon {
  align-items: center;
  justify-content: flex-start;
}
.clickStart__starticon__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  justify-content: flex-start;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal__content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal__content__button {
  display: flex;
  justify-content: flex-end;
}

/* Modal Content */
